.header {
    color: #11468F;
}


.profile {
    width: 175px;
    height: 175px;
    border-radius: 35px;
    transition: all 0.5 ease;
    margin: 10px;
}

.profile:hover {

    transition-property:all;
    transition-duration: 1.5s;
    transform: rotate(360deg) ;
}


.profile:not(:hover) {
    transition-property:all;
    transition-duration: 1.5s;
    transform: rotate(-360deg) ;
}

.description {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    text-align: justify;
    padding: 25px;
    margin-top: 15px;
    color: black;
}

