.card-img {

    border-radius: 25px;
    height: 260px;
}



.card {
    transition: all 0.5s ease;
}

.card:hover {
    margin: -5px;
}

.card-title {
    font-size: 13px;
    color: lightgray;
    font-family: Helvetica, serif;
}

.card-text {
    color: white;
    font-family: Helvetica, serif;
}

.read-container {
    position: absolute;
    bottom: 0;
}

.read-more {
    transition: all 0.5s ease;
    padding: 1px 18px;
    border-radius: 4px;
    background-color: white;
}

.read-more:hover {
    padding: 2px 24px;
}


.read-more-text {
    color: #6867AC;
    font-family: Helvetica, serif;
    font-size: 10px;
    font-weight: bold;
}

